@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
.data_container {
    background-color: $background_tertiary;
    border-radius: 2rem;
    margin: 0.5rem;
    text-align: center;
    .data_subtitle, .data_paragraph{
        color: $text_secondary;
        font-family: $font_primary;
        font-size: $size-M;
        text-align: center;
        display: inline;
        margin: 0.3rem;
    }
}