@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

:host{
    display: block;
    background-color: $background_secondary;
    padding: 1rem;
    border-radius: 1rem;
    .title_list{
        font-family: $font_primary;
        font-size: $size-L;
        text-align: center;
        color: $text_primary;
    }
}