<div class="list_container">
  <h3 class="title_list">{{ title }}</h3>
  <article class="summary_container" #scroll (scroll)="onScroll($event)">
    <div class="resumen_container" *ngIf="!clickedAdd">
      <app-show-resume
        (edit)="editSummary($event)"
        *ngFor="let summary of summaries"
        [progress]="summary"
      />
    </div>
    <app-progress-form
      *ngIf="clickedAdd"
      (submitProgress)="supplier()"
      addOrEdit="add"
    />
  </article>
  <app-actions-menu
    (clickAdd)="showForm()"
    (clickDelete)="deleteProgress()"
    (clickBack)="goBack()"
  />
</div>
<app-modal title="Edit Summary" *ngIf="clickedEdit" (close)="openModal()">
  <ng-container modal_content>
    <app-progress-form
      [objectEdit]="editProgress"
      (submitProgress)="supplierEdit()"
      addOrEdit="edit"
    />
  </ng-container>
</app-modal>
