@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";
.search_bar {
    padding: 0.5rem;
    input {
        background-color: $background_tertiary;
        width: 100%;
        height: auto;
        border: solid;
        border-radius: 1rem;
        padding: 0.5rem;
        font-size: $size-M;
        text-align: center;
    }
}
.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.nose {
    display: flex;
    background-color: $background_secondary;
    border-radius: 1rem 0 0 1rem;
    padding: 0.2rem;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    .pages_container {
        .pages_item {
            color: #ffffff;
        }
    }
}

@media (width < 800px) {
    .collection {
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    }
    .search_bar {
        input {
            font-size: $size-XS;
        }
    }
}
