@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";
.search_bar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    input {
        border: none;
        background-color: $background_tertiary;
        width: 100%;
        height: 2rem;
        border-radius: 1rem;
        padding: 0 0.5rem;
        font-size: $size-M;
        text-align: center;
        box-shadow: 0 0.1rem 0.2rem black;
    }
}
.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.float_container {
    display: flex;
    background-color: transparent;
    border-radius: 1rem 0 0 1rem;
    padding: 0.2rem;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media (width < 800px) {
    .search_bar {
        flex-direction: column;
    }
    .collection {
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    }
    .search_bar {
        input {
            font-size: $size-XS;
        }
    }
}
