<div class="search_bar">
  <input
    id="search"
    (keyup)="searchSeries($event)"
    type="text"
    placeholder="search your series"
  />
  <app-pagination
    [pages]="totalPage"
    (changePageEvent)="onChangePage($event)"
  ></app-pagination>
</div>
<section class="collection">
  <app-card-series
    *ngFor="let item of filter"
    [id]="item.id"
    [img]="item.thumbnail"
    [series_title]="item.title"
  />
</section>
<div class="nose">
  <div class="pages_container">
    <a class="pages_item" href=""></a>
    <a class="pages_item" href=""></a>
    <a class="pages_item" href=""></a>
  </div>
</div>
