@import '../../../../styles/typography.scss';
@import '../../../../styles/colors.scss';
input{
    height: 30px;
    border-radius: 10px;
    font-family: $font_buttons;
    font-size: 15px;
    background-color: $inputs_color;
}