@import "../../../../../styles/typography.scss";
@import "../../../../../styles/colors.scss";
.secondary-button {
    display: flex;
    font-family: $font_secondary;
    font-size: $size-XXS;
    background-color: $button_primary;
    color: $text_secondary;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
}

@media (width < 800px) {
    .secondary-button {
        font-size: $size-XS;
        padding: 0.5rem;
    }
}
