//BACKGROUNDS 
$background_primary: #F6F5F2;
$background_secondary: #212944; 
$background_tertiary: #D3D0CB;
$background_quaternary: #FFFFFF;
// BUTTONS
$button_primary: #E7BB41;
$button_cancel: #D12B2B;
$button_success: #8AFF80;
// INPUTS
$inputs_primary: #E7E5DF;
// TEXT
$text_primary: #FFFFFF;
$text_secondary: #000000;
//OTHERS
$navbar_primary: #5366AA;
$navbar_secondary: #212944;
$card_primary: #083157;
$border_primary: #FF9900;