//BACKGROUNDS
$background_primary: #ffffff;
$background_secondary: #212944;
$background_tertiary: #d3d0cb;
$background_modal: #faebd790;
// BUTTONS
$button_primary: #e7bb41;
$button_cancel: #d12b2b;
$button_success: #8aff80;
$disabled_primary: #ae9344;
// INPUTS
$inputs_primary: #e7e5df;
// TEXT
$text_primary: #ffffff;
$text_secondary: #000000;
//OTHERS
$navbar_primary: #161d6f;
$card_primary: #083157;
$forms_primary: #5366aa;
$border_primary: #ff9900;
