@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
.tertiary_button{
    background-color: $button_primary;
    border: none;
    padding: 0 0.1rem;
    border-radius: 1rem;
    cursor: pointer;
    svg{
        display: block;
    }
}

@media (width < 800px){
    .tertiary_button{
        padding: 0 0.1rem;
    }
}