.form_container{
    display: flex;
    background-image: url('/assets/image.jpg');
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (height < 500px) {
    .form_container{
        height: 150vh;
    }
}