@import "../../../../../styles/typography.scss";
@import "../../../../../styles/colors.scss";
.button {
    font-family: $font_secondary;
    font-size: $size-M;
    background-color: $button_primary;
    color: $text_secondary;
    border-radius: 1rem;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
}
.button:disabled {
    background-color: $disabled_primary;
    cursor: not-allowed;
}

@media (width < 800px) {
    .button {
        border-radius: 0.5rem;
        font-size: $size-XXS;
    }
}
