<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-titles [title]="title" />
  <app-form-field
    nameInput="userEmail"
    idInput="idEmail"
    optionType="email"
    [label_text]="email_label"
    [optionPlaceholder]="email_placeholder"
    [control]="emailControl"
  />
  <app-form-field
    optionType="password"
    id="password"
    [label_text]="password_label"
    [optionPlaceholder]="password_placeholder"
    [control]="passwordControl"
  />
  <app-form-actions
    [paragraph]="question"
    [action]="action"
    [button_text]="button_text"
  />
</form>
