@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
.actions{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p, a{
        font-family: $font_secondary;
        font-size: $size-XS;
        color: $text_primary;
        text-align: center;
    }
    p{
        padding-top: 1rem;
    }
    a{
        text-decoration: underline;
        font-weight: bold;
    }
    .form_error{
        background-color: $button_cancel;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-align: center;
        span{
            font-weight: bold;
            font-size: $size-XXS;
            color: $text_primary;
        }
    }
}