<article class="container">
  <h2 class="container_title">{{ series.title }}</h2>
  <div class="container_content">
    <div class="container_img">
        <img [src]="series.series_img" alt="" />
    </div>
    <div class="container_data">
      <div class="container_badges">
          <app-show-info [data]="series.chapters">
            <ng-container subtitle>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M10 14h4v-2h-4zm0-3h8V9h-8zm0-3h8V6h-8zM6 18V2h16v16zm2-2h12V4H8zm-6 6V6h2v14h14v2zM8 4v12z"/></svg>
            </ng-container>
          </app-show-info>
          <app-show-info subtitle="Date" [data]="series.date">
            <ng-container subtitle>
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M10 14h4v-2h-4zm0-3h8V9h-8zm0-3h8V6h-8zM6 18V2h16v16zm2-2h12V4H8zm-6 6V6h2v14h14v2zM8 4v12z"/></svg>
            </ng-container>
          </app-show-info>
      </div>
      <p class="container_p">{{ series.synopsis }}</p>
    </div>
  </div>
</article>
