@import '../../../../styles/typography.scss';
@import '../../../../styles/colors.scss';
h1 {
    font-family: $font_primary;
    font-size: $size-XL;
    letter-spacing: 3px;
    color: $text_primary;
}