@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";
:host {
    background-color: $navbar_primary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;

    .container_navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }
}

@media (width < 800px) {
    :host {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.3rem;
        .container_navbar {
            justify-content: space-around;
            gap: 0.5rem;
        }
    }
}
