@import '../../../../styles/typography.scss'; 
@import '../../../../styles/colors.scss';
.button{
    font-family: $font_secondary;
    font-size: $size-M;
    background-color: $button_primary;
    color: $text_secondary;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
}