@import '../../../../styles/typography.scss'; 
@import '../../../../styles/colors.scss';
.button{
    font-family: $font_secondary;
    font-size: $size-M;
    background-color: $button_primary;
    color: $text_secondary;
    border-radius: 1rem;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
}

@media (width < 800px){
    .button{
        font-size: $size-XS;
        padding: 0.5rem;
    }
}