@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";
.menu_container {
    position: relative;
    display: inline-block;
}

.menu {
    border-radius: 0.5rem;
    background-color: $background_tertiary;
    right: 0;
    position: absolute;
    width: 10rem;
    .menu_option{
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: $size-M;
        font-family: $font_secondary;
        color: $text_secondary;
        border-radius: 0.5rem;
        padding: 1rem 0 1rem 0;
        &:hover{
            background-color: $background_secondary;
            color: $text_primary;
        }
    }
    .logout:hover{
        background-color: $button_cancel;
    }
}

@media (width < 800px){
    .menu {
        width: 5rem;
        .menu_option{
            padding: 0.5rem 0 0.5rem 0;
            font-size: $size-XS;
        }
    }
}